{% extends 'base.html' %}

{% block content %}
{% load i18n %}

<div id="tableFluxo" class="table-responsive">
				<table class="table table-striped">
					<thead>
						<h2>{% trans "Lista de Empresas" %}</h2>

						<tr>
                                <th>{% trans "Razao Social" %}</th>
                                <th>{% trans "Nome Fantasia" %}</th>
                                <th>{% trans "Endereco" %}</th>
                                <th>{% trans "Objetivo do Contrato" %}</th>
                                <th>{% trans "Data do Alvara" %}</th>
                        </tr>
					</thead>
                {% for  razao in object_list %}
				
                        <tr>
                                <td>{{ razao.razao }}</td>
                                <td>{{ razao.fantasia }}</td>
                                <td>{{ razao.endereco }}</td>
								<td>{{ razao.objetivo }}</td>
                                <td>{{ razao.alvara|date:"d/m/Y" }}</td>
                        </tr>
                {% empty %}
                        <li>Sem itens na lista.</li>
                {% endfor %}
                </table>
{% endblock content %}